@font-face {
	font-family: "BalooDa2";
	src: url("../font/BalooDa2-Regular.ttf");
}

@font-face {
	font-family: "Parisienne";
  src: url("../font/Parisienne-Regular.ttf");
}

#resume_container #resume_title, #resume_container #intro {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-size: 16px;
	margin: 0px;
	outline: none;
	padding: 0px;
}

#resume_container {
	font-family: "BalooDa2", "Microsoft JhengHei";
}

#resume_container nav {
	padding: 5px 0.5em;
	position: fixed;
	right: 0px;
	top: 5rem;
	z-index: 100;
}

#resume_container nav>input[name="nav_input"] {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

#resume_container nav a.nav_item {
	background: #b1bec1;
	border-radius: 50%;
	display: block;
	margin-bottom: 5px;
	padding: 8px;
	transition: background 0.2s ease-in;
}

#resume_container nav a.nav_item:last-child{
	margin-bottom: 0px;
}

#resume_container nav a.nav_item:hover,
#resume_container nav input[name="nav_input"]:checked+a.nav_item{
	/* background:  rgba(77, 103, 119, 0.9); */
	box-shadow: 0px 0px 10px 0.5px #4a5d7b;
	margin-bottom: 6px;
	transition: all 0.2s ease-in;
}

#resume_container nav .nav_item[href="#resume_title"] {
	padding: 7px 9px 9px;
}

#resume_container nav .nav_item[href="#self_intro"] {
	padding: 8px 5px 8px 9px;
}

#resume_container nav .nav_item[href="#autobiography"] {
	padding: 9px 8px 7px;
}

#resume_container nav .nav_item[href="#skill_data"] {
	padding: 8px 7.5px 8px 8.5px;
}

#resume_container nav .nav_item[href="#job_experience"] {
	padding: 8px 7.5px 8px 8.5px;
}

#resume_container nav .nav_item[href="#projects"] {
	padding: 9px 6.5px 7px 9.5px;
}

#resume_container nav .nav_item>img{
	height: auto;
	width: 20px;
}

#resume_container .main_block{
	padding: 1.5em 1em 2em;
	position: relative;
	z-index: 88;
}

#resume_container .main_block:not(#resume_title):nth-of-type(odd){
	background: rgba(206, 219, 214, 0.42)
}

#resume_container .main_block:not(#resume_title):nth-of-type(even){
	background: rgba(210, 221, 222, 0.2);
}

#resume_container .main_block h3{
	display: block;
	margin-bottom: 2.5em;
	margin-top: 1em;
	position: relative;
	text-align: center;
}

#resume_container .main_block h3:before{
	background: linear-gradient(to right, #A6C0CD 20%, #437ea7);
	content: "";
	display: inline-block;
	height: 2px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 99;
}

#resume_container .main_block h3>span{
	background: linear-gradient(35deg, #A6C0CD 10%, #437ea7);
	border-radius: 1px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 18px;
	line-height: 1.4em;
	padding: 6px 10px 2px;
	position: relative;
	text-shadow: 1px 0px 1px rgba(40, 77, 101, 0.9);
	z-index: 100;
}

/* resume title */
#resume_container #resume_title {
	background: url("../image/ocean_bg.jpg") center center no-repeat;
	height: 100vh;
	overflow: hidden;
	padding: 0px;
}

#resume_container #resume_title #title_wrapper {
	background: rgba(235, 241, 251, 0.8);
	border-radius: 4px;
	height: calc(100% - 50px);
	margin: 25px 1.5em;
	overflow: hidden;
	position: relative;
	width: calc(100% - 3em);
}

#resume_container #resume_title #signature {
	animation: cursor 1s steps(1) infinite; /*typing 4.5s steps(9)*/
	border-right: 2px solid rgba(24, 54, 95, 0.8);
	color: #001746;
	display: inline-block;
	font-family: "Parisienne";
	font-size: 5em;
	left: 50%;
	overflow: hidden;
	padding-right: 2px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

#resume_container #resume_title #title_wrapper img{
	bottom: -22%;
	height: auto;
	left: 3rem;
	position: absolute;
	transform: rotate(-2deg);
	width: 12%;
}

/* 簡介 */
#resume_container #self_intro {
	text-align: center;
}

#resume_container #self_intro .intro_wrapper{
	display: inline-block;
	text-align: left;
}

#resume_container #self_intro .photo,
#resume_container #self_intro .personal_data{
	display: inline-block;
	vertical-align: top;
}

#resume_container #self_intro .photo{
	margin-right: 7em;
	max-width: 350px;
	position: relative;
}

#resume_container #self_intro .photo:before,
#resume_container #self_intro .photo:after{
	background: rgba(227, 222, 218, 0.7);
	box-shadow: 0px 0.2px 1px 0px #BFA46F; 
	content: "";
	display: inline-block;
	height: 28px;
	position: absolute;
	top: -5px;
	width: 86px;
}

#resume_container #self_intro .photo:before{
	left: 0px;
	transform: translate(-21px, 9px) rotate(-38deg);
}

#resume_container #self_intro .photo:after{
	transform: translate(21px, 9px) rotate(38deg);
	right: 0px;
}

#resume_container #self_intro img{
	border-radius: 2px;
	width: 100%;
}

#resume_container #self_intro .personal_data{
	font-size: 1.1em;
}

#resume_container #self_intro .personal_data p {
	color: #5a7188;
	line-height: 1.6em;
	margin: 0.5em 0px;
}

#resume_container #self_intro .personal_data p:first-of-type{
	color: #61656C;
	font-size: 1.2em;
	font-weight: 600;
}

#resume_container #self_intro .personal_data p:first-of-type:before{
	color: #61656C;
	content: "\f6e8";
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-size: 20px;
	margin-right: 7px;
}

/* 自傳 */
#resume_container #autobiography p{
	line-height: 2.2em;
	margin: 0px 4em;
}

/* 工作技能 */
#resume_container #skill_data #work_tool{
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 80;
}

#resume_container #skill_data .skill_wrapper{
	background: rgba(243, 240, 207, 0.71);
	border: 5px solid #e0c39b;
	border-radius: 2px 2px 0px 0px;
	box-shadow: 1px -0.5px 2.8px 0px rgba(127, 125, 118, 0.7) inset;
	flex: 1;
	margin-bottom: 10px;
	margin-right: 2em;
	max-width: 200px;
	min-height: 230px;
	padding: 2.5em 7px 10px;
	position: relative;
}

#resume_container #skill_data .skill_wrapper .skill_content {
	margin: 8px 0px 0px;
	padding: 0px 0.5em 0px;
}

#resume_container #skill_data .skill_wrapper .skill_content li{
	border-bottom: 1px solid #deddda;
	font-size: 14px;
	list-style-type: none;
	margin-bottom: 2.5px;
	padding-bottom: 2.5px;
	white-space: nowrap;
}

#resume_container #skill_data .skill_wrapper:before{
	border-style: solid;
	border-width: 40px 90px 0px 0px;
	border-color: #e0c39b transparent transparent transparent;
	content: "";
	display: inline-block;
	font-size: 15px;
	height: 0px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 0px;
}

#resume_container #skill_data .skill_wrapper:after{
	content: attr(data-text);
	font-size: 16px;
	font-weight: 600;
	left: 3px;
	position: absolute;
	top: 1.5px;
	transform: rotate(-22deg) translate(1.2px, 5px);
}

#resume_container #skill_data .skill_wrapper#tools:after{
	font-size: 15px;
	transform: rotate(-22deg) translate(-4px, 3px);
}

#resume_container #skill_data .skill_wrapper:last-of-type{
	margin-right: 0px;
}

#resume_container #language li>label{
	display: inline-block;
	font-size: 15px;
	margin-right: 8px;
	vertical-align: middle;
}

#resume_container #language li>span:after{
	color: #f9d285;
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-size: 14px;
	font-weight: 600;
	margin-right: 3px;
	transform: translateY(-2.5px);
	vertical-align: middle;
}

#resume_container #language li>span.solid_star:after {
	content: "\f005";
}

#resume_container #language li>span.half_star:after {
	content: "\f5c0";
}

#resume_container #language li>span.light_star:after {
	content: "\f005";
	font-weight: 400;
}

#resume_container #language li>span:last-of-type:after{
	margin-right: 0px;
}

/* 工作經歷 */
#resume_container #job_experience .company_wrapper {
	padding: 0px 10px 10px;
	position: relative;
  }
  
#resume_container #job_experience .company_wrapper:before{
	background: rgba(151, 160, 157, 0.75);
	content: "";
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	transform: translateX(calc(2em + 10px - 1.5px));
	width: 3px;
  }
  
#resume_container #job_experience .company_wrapper .company{
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 0px 3px 0px rgba(121, 124, 139, 0.7);
	margin: 0px 4em 12px;
	padding: 0px 1em 8px;
	position: relative;
}
  
#resume_container #job_experience .company_wrapper .company:last-of-type{
	margin-bottom: 5px;
}

#resume_container #job_experience .company_wrapper .company:before{
	position: absolute;
}

#resume_container #job_experience .company_wrapper .company .bullet_icon{
	background: #FFFFFF;
	border: 4px solid #f3d4ba;
	border-radius: 50%;
	display: inline-block;
	left: 0px;
	padding: 6px;
	position: absolute;
	top: 10px;
	transform: translateX(calc(-50% - 2em));
}

#resume_container #job_experience .company .bullet_icon img {
	height: 25px;
	width: 25px;
}

#resume_container #job_experience .company_wrapper .company h4{
	border-bottom: 1px dashed #d3d5d8;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-top: 10px;
}

#resume_container #job_experience .company_wrapper .company h4>span{
	display: inline-block;
	font-size: 14px;
	margin-right: 8px;
	vertical-align: middle;
}

#resume_container #job_experience .company_wrapper .company span.logo{
	margin-right: 5px;
}

#resume_container #job_experience .company_wrapper .company span.logo img{
	display: inline-block;
	height: auto;
	width: 65px;
}

#resume_container #job_experience .company_wrapper .company .job{
	border-left: 1px dashed #d3d5d8;
	color: #886D6C;
	font-size: 15px;
	line-height: 1.5em;
	min-width: 187px;
	padding: 5px 8px 5px 10px;
}

#resume_container #job_experience .company_wrapper .company .job>span{
	display: block;
	font-weight: 600;
}

#resume_container #job_experience .company_wrapper .company .job_title{
	color: #a0b6ac;
	font-size: 14px;
}

#resume_container #job_experience .company_wrapper .company .job_period,
#resume_container #job_experience .company_wrapper .company .staff_number{
	background: rgba(166, 159, 158, 0.18);
	border-radius: 3px;
	color: rgba(88, 78, 65, 0.81);
	font-size: 14px;
	font-weight: 600;
	padding: 4px 5px;
}

#resume_container #job_experience .company_wrapper .company .company_desc{
	border-bottom: 1px dashed #d3d5d8;
	color: #707379;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 0px 0.8em 8px;
}

#resume_container #job_experience .company_wrapper .company .job_intro{
	font-size: 14px;
	padding: 0px 0.8em;
}

#resume_container #job_experience .company_wrapper .company .job_intro p{
	margin: 5px 0px;
}

/* #resume_container #job_experience .company_wrapper .company .job_period{
	margin-right: 8px;
} */

/* animation */
@-webkit-keyframes cursor{
	50% {
		border-color: transparent;
	}
}

@keyframes cursor{
	50% {
		border-color: transparent;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
	#resume_container #resume_title #signature {
		font-size: 6em;
	}

	#resume_container #resume_title #title_wrapper img{
		bottom: -8%;
		height: auto;
		width: 22%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	#resume_container #resume_title #title_wrapper img{
		bottom: -22%;
		height: auto;
		width: 28%;
	}

	/* 資本資料 */
	#resume_container #self_intro .photo {
		margin-right: 4em;
	}
	/* 自傳 */
	#resume_container #autobiography p{
		font-size: 17px;
		margin: 0px 1.5em;
	}
}

@media screen and (max-width: 576px) {
	#resume_container .main_block h3{
		margin-bottom: 2em;
	}

	#resume_container #resume_title #signature {
		font-size: 3.6em;
		top: 40%;
	}

	#resume_container #resume_title #title_wrapper img{
		height: auto;
		left: 0px;
		width: 145px;
	}

	#resume_container .main_block h3:before{
		width: 100%;
	}

	#resume_container .main_block h3>span{
		font-size: 22px;
	}
	/* 簡介 */
	#resume_container #self_intro .intro_wrapper{
		text-align: center;
		word-break: break-all;
	}

	#resume_container #self_intro .intro_wrapper .photo{
		margin-bottom: 10px;
		margin-right: 0px;
		width: 300px;
	}

	#resume_container #self_intro .intro_wrapper .personal_data p{
		line-height: 1.8em;
	}

	/* 自傳 */
	#resume_container #autobiography p{
		margin: 0px 1em;
	}

	/* 工作經歷 */
	#resume_container #job_experience .company_wrapper{
		padding: 0px;
	}

	#resume_container #job_experience .company_wrapper:before{
		transform: translateX(4px);
	}

	#resume_container #job_experience .company_wrapper .company{
		margin: 0px 0px 12px 1.6em;
	}

	#resume_container #job_experience .company_wrapper .company .bullet_icon{
		transform: translateX(calc((-50% - 1.6em) + 4px));
	}

	#resume_container #job_experience .company .bullet_icon img {
		height: 20px;
		width: 20px;
	}

	#resume_container #job_experience .company .company_desc{
		display: none;
	}
}