@font-face
  font-family: "BalooDa2"
  src: url("../font/BalooDa2-Regular.ttf")

@font-face
    font-family: "Parisienne"
    src: url("../font/Parisienne-Regular.ttf")
  
%bg_setting
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  //opacity: 0.8

body
  margin: 0px
  padding: 0px

#resume_container
  font-family: "Microsoft JhengHei", "BalooDa2"

  nav
    position: fixed

    .nav_item
      background: rgba(#4D6777, 0.46)
	    border-radius: 50%
	    display: inline-block
	    padding: 5px
  
  #resume_title
    background: url("../image/ocean_bg.jpg") center center no-repeat
    @extend %bg_setting
    height: 100vh
    overflow: hidden

    #title_wrapper
      background: rgba(#FFFFFF, 0.8)
      border-radius: 4px
      height: calc(100% - 50px)
      margin: 25px 1.5em
      position: relative
      width: calc(100% - 3em)

    #signature
      animation: typing 4.5s setps(9), cursor 1s steps(1) infinite
      border-right: 0.05em solid #18365F
      color: #001746
      display: inline-block
      font-family: "Parisienne"
      font-size: 3rem
      overflow: hidden
      padding-right: 2px
      width: 9rem
      white-space: nowrap
    
  #intro
    background: url("../image/pineapple_bg.jpg") center center no-repeat
    @extend %bg_setting
    height: 550px